*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

:root{
    --rosaClaro: #FFDDDE;
    --rosa: #EEA3A3;
    --rosaEscuro: #F68286;
    --branco: #ffffff;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: var(--rosaClaro);
 
}

#menuVertical{
    width: 10%;
    /* height: 60%; */
     display: flex; 
    flex-direction: column;
    justify-content: space-between;
    align-self: center; 
}

.divMenu{
    width: 100%;
   
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



hr{
    border-color: var(--rosa);
    border-width: 2px;
    size: 90%;
    /* height: 90%; */
}

#separacao{
    height: 90%;
    align-self: center;
}

.cronometro{
    width: 90%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: blueviolet; */
}

#botoes{
    width: 20%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    /* background-color: cadetblue; */
}

/* #tempo{
    background-color: aquamarine;
    width: 20%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

#timer{
    height: 250px;
    width: 250px;
    border-radius: 100%;
    border: 3px solid var(--rosa);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#comeca, #reinicia, #registrar{
    width: 32%;
    height: 100%;
    border: none;
    border-radius: 8px;
}

#listaRegistrados{
    width: 20%;
    background-color: var(--rosa);
    border-radius: 10px;
    display: none;
    flex-direction: column;
}

#titleMark{
    align-self: center;
    padding: 10px 0;
}

#marks{
    padding: 0 0 5px 10px;
}

span{
    color: var(--branco);
}

#tomate255, #tomate5010{
    width: 40%;
}

#conometroIcon, #temporizadorIcon{
    width: 25%;
}

#playIcon, #reiniciaIcon, #flagIcon, #nextIcon, #opIcon{
    width: 20%;
}

.pomodoro25-5{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#tomatin{
    width: 90%;
    padding: 0 0 10px 0;
}

#botoes-pomodoro{
    width: 20%;
    height: 5%;
    display: flex;
    justify-content: space-between;
}

#comecaPomo, #pauseOp, #proximo{
    width: 32%;
    height: 100%;
    border: none;
    border-radius: 8px;

}

.pomodoro50-10{
    display: none;
}

.temporizadorLivre{
    display: none;
}


#caboTomate{
    background-color:pink;
    width:8px;
    height:20px;
    margin:0 0 -3px 0;
    border-radius:5px 5px 0 0;
    transform:rotate(15deg);
    -ms-transform:rotate(15deg); /* IE 9 */
    -moz-transform:rotate(15deg); /* Firefox */
    -webkit-transform:rotate(15deg); /* Safari and Chrome */
    -o-transform:rotate(15deg); /* Opera */
 
}

#corpoTomate{
    width:120px;
    height:100px;
    display:flex;
    flex-direction:row;
    justify-content: center;
    background-color:pink;
    border-radius:80px 80px 140px 140px;
}